
/* 🏡 (A205U) */
@media screen and (min-device-width: 500px) {

.📆name, #📅👉, #⏰, #⌚ { color:var(--🖥️-c-ts-1); }
.📆name, .📆val { font-size:1.6em; filter: grayscale(50%) brightness(50%);}
.📆val { color:var(--🖥️-c-ts-2); }
.📆name { text-shadow: 5px 0px 5px var(--🖥️-c-b-1), 0px 5px 5px var(--🖥️-c-b-1), -5px 0px 5px var(--🖥️-c-b-1), 0px -5px 5px var(--🖥️-c-b-1); } 
#🗓️ { overflow: hidden; border-top: 15px solid var(--🖥️-c-b-1); } 
#🗓️ div.omer { font-size:12px; } 
#⌚ { font-size:9.9em; text-align:center; 
	animation-name: ⌚; animation-duration: 12s; animation-iteration-count: infinite; } 
#⌚ :last-child { position: relative; width: 6%; height: 65%; left: -47%; top: -83%; 
	animation-name: ⌚Colon; animation-duration: 2s; animation-timing-function: ease; animation-iteration-count: infinite; } 
#📅👉 { font-size:22px; } 
#📅👈 { font-size:20px; } 
#💈 span { font-size:23px; } 
#⏰ { font-size:23px; text-align:left; padding:0 0 0 3px; }
#🪵, #🪵Progress { color:var(--🖥️-c-tbs-1); direction:ltr; } 
#🪵, #⏰:not(.markIconText), #🚥 { border: 1px solid var(--🖥️-c-t-2); border-radius: 20px; text-overflow: ellipsis; overflow: hidden; }
#🪵 { font-size:20px; padding:5px 3px 0 3px; background-repeat: no-repeat; text-shadow: 2px 0px 2px var(--🖥️-c-b-1), 0px 2px 2px var(--🖥️-c-b-1), -2px 0px 2px var(--🖥️-c-b-1), 0px -2px 2px var(--🖥️-c-b-1); } 
.🪵Progress { font-size:2em; text-shadow: 4px 4px 4px var(--🖥️-c-b-1); padding:0px; 
	border: 1px solid var(--🖥️-c-b-1); border-radius: 15px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="background-color:var(--🖥️-c-t-1)"></svg>'); /*var is been eval by js*/
	background-color: var(--🖥️-c-bs-2); background-repeat: no-repeat; display: flex; flex-wrap: no-wrap; }
.🪵Progress div:first-child { flex: 100%; text-overflow: ellipsis; overflow: hidden; }
.🪵Progress div:last-child { flex: 1px; white-space: nowrap; }
#🚥 { font-size:2.2em; display: flex; flex-direction: row; justify-content: space-around; padding : 3px; }  
#🚥 > div { background-color: var(--🖥️-c-be-1); border: 1px solid var(--🖥️-c-be-3); border-radius: 20px; animation-name: 🚥; animation-duration: 2s; animation-iteration-count: infinite; } 
#🚥 > div > span { position: absolute; left: 0; color: var(--🖥️-c-te-1); }
#📒 { display: flex; flex-flow: row wrap; height: 100%; width: 100%; pointer-events: none; 
	align-items: center;justify-content: center; align-content: center; padding-top: 10%; 
	animation-name: 📒; animation-duration: 12s; animation-iteration-count: infinite; } 
#📒 > div { border-radius : 25px; margin: 1% 20% 0 20%; padding: 1% 2% 1% 2%; white-space: normal;
	text-align: center; font-size: 20px; color: var(--🖥️-c-t-1); text-shadow: 2px 2px 4px var(--🖥️-c-b-1), -2px -2px 14px var(--🖥️-c-b-1); 
	box-shadow: 0 4px 8px 0 rgba(var(--🖥️-c-b-1_rgb), 0.2), 0 6px 20px 0 rgba(var(--🖥️-c-b-1_rgb), 0.188); background-image: linear-gradient(to bottom right, var(--🖥️-c-be-1), var(--🖥️-c-be-2) ); } 
#📒 > div::first-line { font-size: 22px; }
#📒 > div > div:last-child { width: 97%; height: 0.25em; border-radius : 0.25em; border:0.1em solid rgba(var(--🖥️-c-b-1_rgb), 0.702); } 
.popup { color: var(--🖥️-c-ts-2); background-color: var(--🖥️-c-be-1); border: 0.2em solid rgba(var(--🖥️-c-b-1_rgb), 0.702); border-radius: 25px; font-size: larger; direction: ltr; 
    min-height: 4em; min-width: 8em; display: inline-flex; justify-content: center; align-content: center; flex-wrap: wrap; }	
.markIconText > *:first-child { transform:scale(1.3); left:2%; }
.markIconText > *:nth-child(2) { transform:scale(1.2); left:-6%; 
	text-shadow: 5px 0px 5px var(--🖥️-c-b-1), 0px 5px 5px var(--🖥️-c-b-1), -5px 0px 5px var(--🖥️-c-b-1), 0px -5px 5px var(--🖥️-c-b-1), 0px 0px 40px var(--🖥️-c-b-1), 0px 0px 30px var(--🖥️-c-bs-2); }
.markIconText > * { position:relative; top:-1%; z-index:1000; font-size: 35px; color:var(--🖥️-c-te-2); filter: grayscale(0%) brightness(100%); } 

#⌚ { top: -2%; left:0.8%; width: 45.5%; height: 36%; } /* 🗒: w/h needed, bg is black */
#📅👉 { left:35%; top:35%; }
#📅👈 { left:3%; top:35.2%; } 
#🌡️ { width:36%; height:34%; left:43%; top:10%; } 
#🌡️>:last-child { width:34%; } 
#💈 { width:2%; height:33%; top:3%; left: 77.5% } 
#💈 span { left:82%; } 
#📆 { top:3%; left:82%; }
#🗓️ { top:41.5%; width:63%; left: 21%; height:53%; } 
#⏰ { top:45%; } 
#⏰.markIconText { top:43%; left: 4.5%; }  
#🪵, #⏰, #🚥 { left:3%; width:17.3%; } 
#🪵 { top:54%; height:41.5%; } 
.🪵🚥 { height: calc(41.5% - 2.2rem - 12px) !important; } 
#🪵Progress { left:20%; width:60%; height:0%; } 
#🚥 { top: calc(54% + 41.5% - 2.2rem - 2px); } 
.popup { left: 50%; top: 70%; } 

#⏱️{ display: none; } 

@keyframes ⌚ { 0% {color: rgba(var(--🖥️-c-ts-1_rgb), 0.839);} 50% {color: rgba(var(--🖥️-c-ts-2_rgb), 0.459);} 100% {color: rgba(var(--🖥️-c-ts-1_rgb), 0.839);} } 
@keyframes ⌚Colon { 0% {backdrop-filter: brightness(0.7);} 50% {backdrop-filter: brightness(0);} 100% {backdrop-filter: brightness(0.7);} }  
@keyframes 📒 { 0% {backdrop-filter: unset;} 50% {backdrop-filter: grayscale(50%);} 100% {backdrop-filter: unset;} } 
@keyframes 🚥 { 50% {filter: drop-shadow(2px 4px 6px var(--🖥️-c-be-1));} }

}

/* 📱 (RN10S) */
@media screen and (max-device-width: 500px) {

.📆val { color:var(--🖥️-c-td-1); } 
.📆name, .📆val { font-size:19px; }
.📆name, #📅👉, #⏱️, #⏰ { color:var(--🖥️-c-t-4); }
#🗓️ { border-top: 25px solid var(--🖥️-c-b-1); }
#🗓️ div.omer { font-size:11px; } 
#📅👉, #⏱️, #⏰ { font-size:21px; }
#📅👈 { font-size:18px; } 
#⏰ { border-radius: 20px; border: 1px solid var(--🖥️-c-b-2); padding:0 6px 0 6px; }
#💈 span { font-size:20px; }  

#📆, #📅👉 { top:6%; }
#📆, #🗓️ { left:2.5%; } 
#🗓️ { width:95%; top:calc(38% - 1px); } 
#📅👉 { right:2.5%; }
#📅👈 { top:9%; right:2.5%; }
#⏰ { top:11.8%; left:44%; }  
#🌡️ { width:72%; height:19%; top:20%; left:23%; } 
#🌡️>:last-child { width:33.5%; } 
#💈 { width:4%; height:17%; left:93%; top: 18% } 
#💈 span { left: 4%; top: 2%; } 
#⏱️ { top:12%; right:2.5%; } 

#🪵, #🪵Progress, #🚥, #⌚, #📒, .popup { display: none; }  

}


body { direction:rtl; color:var(--🖥️-c-t-3); font-family:sans-serif;}
body, #⌚, #💈 span, #🗓️ { background-color:var(--🖥️-c-b-1);}
table {text-align:center; width:100%; height:1px}
td {vertical-align:top;}
.tdHead, .tdDay, .hdate, .dafYomi { font-size:15px;}
.tdHead {border-radius:10px; text-align:center; color:var(--🖥️-c-t-1);background-color:var(--🖥️-c-bs-1);font-weight: normal;} 
.tdDay { text-decoration:none; }
.tdCurrent { border-radius:5px; border:1px solid var(--🖥️-c-bs-1);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASAgMAAAASx9efAAAADFBMVEUyMjI3Nzc7Ozs8PDyX7EujAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAK0lEQVQImWOQcmBgqL/AwLD/AQSD2CAxFMC4hIGB/S8DA/c/CAaxQWIIAAAI+Av1YBUTwQAAAABJRU5ErkJggg=="); } 
/*.tdShabat {}*/
#📅👈, .ldate, .dafYomi { color:var(--🖥️-c-t-4); font-weight: 100 !important; }
.hebdate, .ldate { margin-top:2px; } 
.ldate { float: left; margin-left:5px; }
.hebdate { float:right; margin-right:5px;}
.parasha, .omer { float:right; color:var(--🖥️-c-te-1); font-weight:normal; margin:2px; padding:0; text-align:center; clear:both; }
imo, #🚥 > div { text-shadow: 3px 0px 5px var(--🖥️-c-b-3), 0px 3px 5px var(--🖥️-c-b-3), -3px 0px 5px var(--🖥️-c-b-3), 0px -3px 5px var(--🖥️-c-b-3), 0px 0px 30px var(--🖥️-c-t-1), 0px 0px 10px var(--🖥️-c-t-1);}
imo { font-size:22px; }
.wdgt, .📆name, .📆val, #🗓️ div.omer, #💈 span { white-space: nowrap; }
#🗓️ div.omer span{ filter: brightness(65%);} 
#🗓️ td.tdCurrent div.omer { font-size:14px; } 


#📆 { direction:ltr; } 
.📆name, #📅👉 { text-align:right;}
.📆val, #🪵, #🪵Progress { text-align:left; } 
.dafYomi { overflow: hidden; margin: 4% 0 0 0; } 
#🌡️>:last-child { top:-30px; background-image: linear-gradient(to right, var(--🖥️-c-b-1), rgba(var(--🖥️-c-b-1_rgb), 0.8), rgba(var(--🖥️-c-b-1_rgb), 0.8), rgba(var(--🖥️-c-b-1_rgb), 0.8), rgba(var(--🖥️-c-b-1_rgb), 0.702), rgba(var(--🖥️-c-b-1_rgb), 0.702), rgba(var(--🖥️-c-b-1_rgb), 0.702), rgba(var(--🖥️-c-b-1_rgb), 0.8) 50%, rgba(var(--🖥️-c-b-1_rgb), 0) 50%); } 
#🌡️>:last-child .tdCurrent { filter: invert(0.5) opacity(0.4); height: 100%; width: 50%; } 
#💈 span { color:var(--🖥️-c-ts-2); position : relative; } 
.error { border-radius: 10px; border: var(--🖥️-c-be-3) 1px solid !important; } 

.wdgt, .dafYomi, #🌡️>:last-child, .popup { position:absolute;}

.popup {z-index: 9}
#📒 {z-index: 8}
#🪵Progress {z-index: 7}
#📅👉, #📅👈, #🚥 {z-index: 6}
#⌚, #💈 {z-index: 5}
#📆, .dafYomi {z-index: 4}
#🪵, #⏱️, #⏰ {z-index: 3}
#🗓️ {z-index: 2}
#🌡️ {z-index: 1}

:root {
/* main bg */
--🖥️-c-b-1: #000000;
--🖥️-c-b-1_rgb: 0, 0, 0;
--🖥️-c-b-2: #141414; /*⏰(📱) border*/
--🖥️-c-b-3: #1E1E1E; /*imo text-shadow*/
/* main text of main bg */
--🖥️-c-t-1: #FFFFFF; /*tdHead, 📒 > div text; 🪵Progress bg; imo glowing */
--🖥️-c-t-2: #8B8B8B; /*🪵, ⏰:not(.markIconText) border, 🌡️xy text*/
--🖥️-c-t-3: #A1A1A1; /*body text*/
--🖥️-c-t-4: #b4b4b4; /*📅👈, ⏰ Text*/
/* soft text of main bg */
--🖥️-c-ts-1: #fbf1ca; /*.📆name, #📅👉, #⏰ text*/
--🖥️-c-ts-1_rgb: 251, 241, 202; /*⌚ text*/
--🖥️-c-ts-2: #f9eea2; /*.📆val, 💈 span, 🌡️° text*/
--🖥️-c-ts-2_rgb: 249, 238, 162; /*⌚ text*/
/* dark text of main bg */
--🖥️-c-td-1: #277EBC; /*.📆val(📱) text*/
--🖥️-c-td-1_rgb: 39, 127, 190;
/* emphasize text of main bg */
--🖥️-c-te-1: #A27A25; /*parash, omer, 🚥 span */
--🖥️-c-te-2: #FFA90D; /*markIconText text*/
/* soft bg */
--🖥️-c-bs-1: #20679b; /*tdHead bg; tdCurrent border, ⌚ text; */
--🖥️-c-bs-2: #2986C8; /*.🪵Progress bg; .markIconText > *:nth-child(2) text-shadow*/
/* main text of soft bg */
--🖥️-c-tbs-1: #E6E6E6; /*🪵+Progress Text*/
/* emphasize bg */
--🖥️-c-be-1: #fa145080; /*popup bg; 📒 > div bg-gragient-start*/
--🖥️-c-be-2: #6464f1b3; /*📒 > div bg-gragient-end*/
--🖥️-c-be-3: #ff0000; /*error; 🚥 border*/
}